
@font-face {

    src:url("/Fonts/SpaceX.ttf");
    font-family: SpaceX;
    
}

#logo-font {

    display:block;
    text-align: center;
    font-family:SpaceX;
    font-size:xx-large;
    color:aliceblue;
    margin:120px auto auto auto;
    width:100%;

}


/*#main-logo {

    margin:1px auto;
    width:300px;

}*/

body {

    background-image:url("images/Spaceship.gif");
    background-size:1500px;
    background-position-x:center;
    background-position-y:top;
    
}

.body {
    font-family: 'Orbitron', sans-serif;
    color: #DADADBff;
    text-align:center;
    text-shadow: -1px 1px 2px white;
    margin:70px auto auto auto;

}


.btn {
    
    display:inline;
    background-color: antiquewhite;
    font-family:inherit;
    font-weight: 800;
    color:black;
    
    border-radius:6px;
    border-color: beige;
    justify-content: space-around ;
    margin:40 30px;
    padding:5px 5px;

}

.Apply {
    
    background-color: antiquewhite;
    font-family:inherit;
    color: black;
    text-decoration: none;

}

.mission {
    
    background-color: antiquewhite;
    font-family:inherit;
    color: black;
    text-decoration: none;

}

.underline {

    border-bottom:3px solid white;
     
}